.side-bar {
	height: 100%;
	top: 50px;
	position: fixed;
	background: #fff;
	z-index: 20;
}
.side-bar button {
	width: 100%;
	border: none;
	background-color: none;
	margin-top: 2px;
	font-size: 1.6em;
	padding-top: 5px;
	padding-bottom: 5px;
}
button {
	background-color: #ddd;
}
